# Core dependencies (recursively ignore for monorepo structure)
node_modules/
vendor/

# Local configuration files
.env
.env.backup
.env.production
.env.local
.env.*

# Build outputs
dist/
/public/hot
/public/storage
/storage/*.key

# IDEs and editors
.idea/
.vscode/
.fleet/
.DS_Store
Thumbs.db

# Test and caches
.phpunit.result.cache
.npm/
npm-debug.log
yarn-error.log
auth.json

# Local config templates
Homestead.json
Homestead.yaml
